@import "../../styles/global";

.base_loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    p{
        padding-top: 15px;
    }

    .dot-container {
        display: flex;
        justify-content: center;
        align-items: flex-end; /* Выравнивание по нижнему краю */
    }
    
    .dot {
        width: 12px;
        height: 12px;
        margin: 0 5px;
        border-radius: 50%;
        background-color: #fff; /* Цвет точек */
        animation: bounce 0.6s infinite alternate; /* Анимация */
    }
    
    .dot:nth-child(1) {
        animation-delay: 0s; /* Без задержки */
    }
    
    .dot:nth-child(2) {
        animation-delay: 0.2s; /* Задержка 0.2 секунды */
    }
    
    .dot:nth-child(3) {
        animation-delay: 0.4s; /* Задержка 0.4 секунды */
    }
}

.loading{
    @extend .base_loading;
    min-height: 1363px;

}


.loading_other{
    @extend .base_loading;
    min-height: 600px;
}

@keyframes bounce {
    0% {
        transform: translateY(0); /* Исходное положение */
        opacity: 0.6;
    }
    100% {
        transform: translateY(-20px); /* Подскок вверх */
        opacity: 1;
    }
}

//    width: calc(100% - 300px);