@import "../../styles/global";

.header_project_search {
    @extend .container_center;
    justify-content: flex-start;
    gap: 15px;
    width: 260px;
    height: 40px;
    background-color: $white_bc_5;
    border-radius: 17px;
    position: absolute;
    top: 0;
    right: 0;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 17px;
        border: 1px solid $rose_color;
        pointer-events: none; // Игнорируем события мыши
        z-index: 1;
    }

    img {
        height: 20px;
        width: 20px;
        margin-left: 20px;
    }
}

.cards {
    @extend .container_center;
    flex-wrap: wrap;
    gap: 40px;

    padding: 45px 30px 45px 70px;
    width: 100%;
    box-sizing: border-box;

    .create_card {
        @extend .container_center;

        width: 300px;
        height: 375px;
        border-radius: 10px 10px 20px 20px;
        background-color: $white_bc_5;
        display: flex;
        flex-direction: column;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 10px 10px 20px 20px;
            border: 3px solid $rose_color;
            pointer-events: none; // Игнорируем события мыши
            z-index: 1;
        }

        .create_task_plus {
            @extend .container_center;

            width: 50px;
            height: 45px;
            background-color: $white_bc_30;
            border-radius: 0 10px 0 20px;
            border: 0;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
        }

        .create_task_button {
            border: 0;
            cursor: pointer;
            padding: 0;
            background-color: transparent;

            p {
                color: $rose_color;
            }
        }
    }
}

@media (max-width: 1025px) {
    .cards {
        padding: 45px 10px;
        max-width: 683px;
        width: 100%;
        box-sizing: border-box;
    }
}
