@import './_variables';
@import './text';

.container_between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    position: relative;
    overflow-x: hidden;
}