$first_color: #1D1E22;
$second_color: #17181C;
$border_color: #818181;
$white_item_color: #FFFFFF;
$black_item_color: #000000;
$rose_color: #F19294;
$black_color: #000000;
$bc_gray10: rgba(129, 129, 129, 0.1);
$white_bc_5: rgba(255, 255, 255, 0.05);
$white_bc_30: rgba(255, 255, 255, 0.3);
$gray_text_999: #999999;
$gray_text_cd: #CDCDCD;
$button_db: #DBDFE8;
$button_d5: #D5C5BE;